

.game_card {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    border-radius: 8px;
  height: 230px;
  width: 150px;
  box-sizing: border-box;
}
.game_footer {
  background: rgb(36, 35, 35);
  padding: 1rem;
  width: 144px;
  border-radius: 0px 0px 10px 10px;
}

.game_card_image {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;

  height: 192px;
  width: 144px;
}
.title_overlay{
    visibility: hidden;
    position: absolute;
    z-index: 1000 !important;
}
.game_card:hover .title_overlay{
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 144px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
      pointer-events: none; /* â† this makes it non-interactable */
    
}

.game_card_image:hover {
    cursor: pointer;
    filter: brightness(30%);
}

.game_card >.game_add_footer{
  padding: 0.2rem;
  background: rgb(49, 48, 48);
  width: 144px;
  
  
}
.game_card.game_card_add{
   background: rgb(49, 48, 48);
   
}