@import './variables.css';

.menu_container.search_menu{
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
}
.search_menu{
    width: auto;
}
.search_results_container{
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 400px;
    width: 100%;
}

.result_item:hover{
    background: var(--bg-elevated);
    cursor: pointer;
}

.result_item{
    padding: 0.2rem;
}
.search_input_container{
    display:flex;

}

.search_input{
    background: red;
    width: 100%;
    border: none;
    outline: none;
}
.add_btn{
    width: 30px;
    background: black;
    height: 30px;
}

.search_input_container{
    background: rgb(31, 30, 30);
    width: 100%;
}
.search_results_container{
    position: absolute;
    background: rgb(31,30,30);
    box-sizing:border-box;
}
.search_results{
    max-height: 300px;
}