@import './variables.css';

.menu_container.search_menu{
    align-items: flex-start;
    flex-direction: column;
}
.search_menu{
    width: auto;
}
.search_results_container{
    overflow-y: scroll;
    max-height: 400px;
    width: 500px;
}

.result_item:hover{
    background: var(--bg-elevated);
    cursor: pointer;
}

.result_item{
    padding: 0.2rem;
}
.search_input_container{
    display:flex;

}

.search_input{
}
.add_btn{
    width: 30px;
    background: black;
    height: 30px;
}

.search_input_container{
    background: red;
    width: 100%;
    position: absolute;
    top: -6%;
}
.search_results_container{
}
.search_results{
    max-height: 400px;
}