@import './variables.css';

.menu_container.search_menu{
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
}
.search_menu{
    width: auto;
}
.search_results_container{
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 400px;
    width: 100%;
}

.result_item:hover{
    background: var(--bg-elevated);
    cursor: pointer;
}

.result_item{
    padding: 0.2rem;
}
.search_input_container{
    display:flex;

}

.search_input{
    background: rgb(43, 41, 41);
    width: 100%;
    outline: none !important;

}
.add_btn{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_btn:hover{
    background: rgb(61, 58, 58);
    cursor: pointer;
}
.search_input_container{
    background: rgb(31, 30, 30);
    width: 100%;
}
.search_results_container{
    position: absolute;
    background: rgb(31,30,30);
    box-sizing:border-box;
}
.search_results{
    max-height: 300px;
}

.result_item.selected{
    background: var(--bg-elevated);
}