@import "tailwindcss";
@import './styling/variables.css';
:root {
  --color-dark: #202020;
  --color-dark-hex: #202020; /* if you want a separate variable for hex */
  --color-hover: #2d2d2d;
  --rating-pink: #fc6399;
  --backloggd-bg: #16181c;
  --darker-pink: #ea377a;
  --text-1: #badefc;
  --white: #fff;
}

#root {
  width: 100% !important;
  height: 100vh !important;
}
body {
  background: var(--color-dark);
}

.main_container {
  height: 100%;
  width: 100%;
  display: flex;
}
.main_content {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.content_page {
  height: 100%;
}
.sidebar {
  padding: 0.25rem;
  height: 100vh;
  width: 220px;
  background: var(--bg-primary) !important;
}

.game_grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px; /* constant row + column spacing */
  grid-auto-rows: 230px; /* locks row height */
  justify-content: center;
  background: var(--bg-secondary);
}

.menu_container {
  background: var(--color-dark);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
 
  /* min-width: 600px; */
  z-index: 10001;
}


.main_content_header{
     background: rgb(22, 22, 22);
    
}
.main_content_header {
  margin: 0;
  padding: 0.5rem;
  background: var(--bg-primary) !important;
  display: flex;
  align-items: center;
}

.main_content_header > span{
  margin-right: 2rem;
  color: var(--text-2);
  cursor: pointer;
  
}

.list_view.selected *{
  background: var(--bg-secondary) !important;
  border-radius: 4px;
}
/* testing */

.main_content_header > .header_search{
  display: flex;
justify-content: ;
  align-items: center;
  background: var(--bg-secondary);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  width: 200px;
  border: 1px solid var(--bg-tertiary) !important;
}
.header_search * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_filter *{
  background: inherit !important;
}
.header_filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display_btns{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}