@import "tailwindcss";
:root {
  --color-dark: #202020;
  --color-dark-hex: #202020; /* if you want a separate variable for hex */
  --color-hover: #2d2d2d;
  --rating-pink: #fc6399;
  --backloggd-bg: #16181c;
  --darker-pink: #ea377a;
  --text-1: #badefc;
  --white: #fff;
}

#root {
  width: 100% !important;
  height: 100vh !important;
}
body {
  background: var(--color-dark);
}

.main_container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: scroll;
}
.main_content {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.content_page {
  overflow-y: scroll;
  height: 100%;
}
.sidebar {
  padding: 0.25rem;
  height: 100vh;
  width: 220px;
  background: var(--bg-primary) !important;
}

.game_grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px; /* constant row + column spacing */
  grid-auto-rows: 230px; /* locks row height */
  justify-content: center;
  background: rgb(22, 22, 22);
}

.menu_container {
  background: var(--color-dark);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
 
  /* min-width: 600px; */
  z-index: 10001;
}


.main_content_header{
     background: rgb(22, 22, 22);
    
}
.main_content_header * {
  margin-left: 1rem;
}