@import "tailwindcss";
@import './styling/variables.css';
:root {
  --color-dark: #202020;
  --color-dark-hex: #202020; /* if you want a separate variable for hex */
  --color-hover: #2d2d2d;
  --rating-pink: #fc6399;
  --backloggd-bg: #16181c;
--darker-pink: #ea377a;
  --text-1: #badefc;
  --white: #fff;
}

#root {
  width: 100% !important;
  height: 100vh !important;
}
body {
  background: var(--color-dark);
}

.main_container {
  height: 100%;
  width: 100%;
  display: flex;
}
.main_content {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.content_page {
  height: 100%;
}
.sidebar {
  padding: 0.25rem;
  height: 100vh;
  width: 220px;
  background: var(--bg-primary) !important;
}

.game_grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px; /* constant row + column spacing */
  grid-auto-rows: 230px; /* locks row height */
  justify-content: center;
  background: var(--bg-secondary);
}

.menu_container {
  background: var(--color-dark);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
 
  /* min-width: 600px; */
  z-index: 10001;
}


.main_content_header{
     background: rgb(22, 22, 22);
    
}
.main_content_header {
  margin: 0;
  padding: 0.4rem;
  background: var(--bg-primary) !important;
  display: flex;
  align-items: center;
}

.main_content_header > span{
  margin-right: 2rem;
  color: var(--text-2);
  cursor: pointer;
  
}

.list_view.selected *{
  background: var(--bg-secondary) !important;
  border-radius: 4px;
}
/* testing */

.main_content_header > .header_search{
  display: flex;
  align-items: center;
  background: var(--bg-secondary);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  width: 200px;
  border: 1px solid var(--bg-tertiary) !important;
}
.header_search * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_filter *{
  background: inherit !important;
}
.header_filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display_btns{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}

.header_slider{
  width: 150px;
  color: rgb(221, 30, 81);
  margin-left: auto;
  
}

.header_dot {
  background: rgb(53, 158, 53);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.25rem;
}
.header_online *{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.list_menu.floating{
  background: rgb(39, 37, 37) !important;
  
}
.game-lists {
  padding: 10px;
  min-width: 400px;
}

.game-list {
  min-width: 400px;
  margin-bottom: 12px;
  border: 1px solid var(--color-hover);
  border-radius: 8px;
  background-color: var(--color-dark);
  overflow: hidden;
  transition: background-color 0.2s;
}

.game-list:hover {
  background-color: var(--color-hover);
}

.list-title {
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.list-title:hover {
  background-color: var(--backloggd-bg);
}

.games-wrapper {
  overflow: hidden;
  transition: height 0.3s ease;
}

.games {
  list-style: none;
  padding-left: 15px;
  margin: 0;
}

.game-item {
  padding: 6px 8px;
  font-size: 16px;
  color: var(--text-1);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  cursor: pointer;
}

.game-item:hover {
  background-color: var(--backloggd-bg);
  color: var(--rating-pink);
  transform: translateX(5px);
}

.empty-message {
  font-size: 16px;
  color: #888;
  padding: 20px;
  text-align: center;
}

.game-list.add{
  padding: 0.5rem;
}
.game-list.add{
cursor: pointer;  
}